/* frontend/src/pages/ReservationAdmin/ReservationAdmin.css */
.reservation-admin-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  min-height: calc(100vh - 96px); /* Đảm bảo chiều cao tối thiểu bằng 100vh trừ đi chiều cao của Navbar */
  margin-top: 96px;
  
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  position: relative;
  width: 300px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-reservation-and-search-bar {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa*/
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}


.page-title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.add-reservation-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-reservation-button:hover {
  background-color: #0056b3;
}



.filter-buttons {
  display: flex;
  margin-bottom: 0px;
}

.filter-buttons button {
  background-color: #e9ecef;
  color: #333;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #ced4da;
}

.filter-buttons button.active {
  background-color: #007bff;
  color: #fff;
}

.reservations-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.reservation-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reservation-details {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.reservation-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.reservation-actions button {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

.status-button {
  background-color: #6c757d; /* Màu xám cho trạng thái */
}

.check-button {
  background-color: #28a745; /* Màu xanh cho kiểm tra */
}

.reservation-actions button:hover {
  opacity: 0.8;
}

/* Thêm style cho phần footer nếu cần */
.footer {
  margin-top: 40px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.filter-and-search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; /* Đẩy container sang phải */
}


