/* frontend/src/pages/ResetPassword/ResetPassword.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0; /* Thêm: loại bỏ padding */
    margin: 0; /* Thêm: loại bỏ margin */
    background: url('../../../public/images/background_reservation.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.formContainer {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 400px; /* Giữ nguyên width của form */
    box-sizing: border-box; /* Thêm: đảm bảo width bao gồm padding và border */
}
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #C52525;
  }
  
  .userInfo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .message {
    text-align: center;
    margin-bottom: 15px;
    color: red;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C52525;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #c75e5e;
  }