.contact-footer {
    background-color: #333;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    max-width: 300px;
    min-width: 100px;
}

.footer-section h3 {
    margin-bottom: 24px;
    position: relative;
}

.footer-section h3::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    display: block;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section ul {
    text-decoration: underline;
    text-underline-offset: 2px;
}