/* frontend/src/components/CreateReservationPopup/CreateReservationPopup.module.css */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.createReservationPopup {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 400px;
  box-sizing: border-box;
}

.popupTitle {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.formGroup textarea {
  min-height: 100px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonGroup button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submitButton {
  background-color: #00b04f;
  color: #fff;
}

.submitButton:hover {
  background-color: #fff;
  color: #00b04f;
  border: 1px solid #00b04f;
}

.formGroup input::placeholder {
  color: #999;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  border-color: #00b04f;
  box-shadow: 0 0 0 0.2rem rgba(0, 176, 79, 0.25);
  outline: none;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.requiredStar {
  color: red;
}